

<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- Bootstrap Core CSS -->
      <link href="{% static "poi/bootstrap.min.css" %}" rel="stylesheet">
      <!-- MetisMenu CSS -->
      <link href="{% static "poi/metisMenu.min.css" %}" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="{% static "poi/sb-admin-2.css" %}" rel="stylesheet">
      <!-- Morris Charts CSS -->
      <link href="{% static "poi/morris.css" %}" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="{% static "poi/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
      <script src="{% static "poi/jquery.min.js" %}"></script>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
      <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
      <style type="text/css">
         .bootstrap-tagsinput {
         width: 100%;
         }
         .label {
         line-height: 2 !important;
         }
         #myDIV {
         width: 100%;
         padding: 50px 0;
         text-align: center;
         background-color: white;
         margin-top:20px;
         display:hidden;
         }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even){background-color: #f2f2f2}
        th {
            background-color: #4CAF50;
            color: white;
        }
      </style>
   </head>
   <body>
      <div id="wrapper">
         <!-- Navigation -->
         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <a class="navbar-brand" href="se.html">iPDA Yelp Demo</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                     <li>
                        <a href="index.html">Search</a>
                     </li>
                     <li>
                        <a href="index.html">Others</a>
                     </li>
                  </ul>
               </div>
               <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
         </nav>
         <div id="page-wrapper">
            <div class="row">
               <div class="col-lg-12">
                  <h2>Basic Information</h2>
                  <b>Business name:</b> {{ rest_info.name }}<br> 
                  <b>Stars:</b> {{ rest_info.stars }}<br>
                  <b>Address:</b> {{ rest_info.address }}, {{ rest_info.city }}<br>
                  <b>Categories:</b> <input type="text" value="{{ rest_info.categories|join:', '}}" data-role="tagsinput" class="form-control" />
                  <br>
                  <b>Latitude: </b> {{ rest_info.latitude }}, <b>Longitude: </b>{{ rest_info.longitude }}<br>

		  <!-- Google Maps starts -->
		  <!--
		  <iframe
			  width="600"
			  height="450"
			  frameborder="0" style="border:0"
			  src= "{{ query }}"  allowfullscreen>
		  </iframe>
		  -->

		  <!-- Google Maps ends -->

		<div id="map" style="width:100%;height:500px"></div>

		<script>
		function myMap() {
                  {%for info in knn_lon_lat%}
		  var myCenter{{forloop.counter0}} = new google.maps.LatLng({{ info.1 }},{{ info.0 }});

                  {%endfor%}
		  var mapCanvas = document.getElementById("map");
		  var mapOptions = {center: myCenter0, zoom: 5};
		  var map = new google.maps.Map(mapCanvas, mapOptions);
	          {%for info in knn_lon_lat%}
		  var marker{{forloop.counter0}} = new google.maps.Marker({position:myCenter{{forloop.counter0}},map:map});
		  {%endfor%}

		  marker.setMap(map);
		}
		</script>

<script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDdTuGBGV6SmUI4zCAhKGvDSLn7ZtdT6JA&callback=myMap"></script>		  


                  <h2>KNN top 10 similar businesses</h2>
                  <form method="GET" action="/{{ rest_info.business_id }}/" target="_blank">
                      Similarity function: 
                      <fieldset id="similarity">
                         {% for s in similarity_types %}
                         <input type="radio" name="similarity" value="{{ s.0 }}" {% if s.2 %}checked{% endif %}> {{s.1}}
                         {% endfor %}
                      </fieldset>
                      <br>
                      Learning approach: 
                      <fieldset id="approach">
                         {% for s in approaches %}
                         <input type="radio" name="approach" value="{{ s.0 }}" {% if s.2 %}checked{% endif %}> {{s.1}}
                         {% endfor %}
                      </fieldset>
                      <br>

                     <input type="submit" value="Submit">
                  </form>
                  <table>
                  <tr>
                      <th>No.</th>
                      <th>Restaurant name</th>
                      <th>Similarity score</th>
                      <th>Co-customer count</th>
                      <th>Co-customer ratio</th>
                  </tr>
                  {% for r in knn_infos %}
                  <tr>
                      <td>{{ forloop.counter0 }}</td>
                      <td><a href="/{{ r.business_id }}/">{{ r.name }}</a></td>
                      <td>{{ r.score}}</td>
                      <td>{{ r.co_user_count}}</td>
                      <td>{{ r.co_user_ratio}}</td>
                  </tr>
                  {% endfor %}
                  </table>
               </div>
            </div>
            <div class="row">
               <h2>Summary statistics</h2>
               <div class="col-lg-12">
                  <h3>Category Distribution</h3>
                  <div class="panel panel-default">
                     <div class="panel-body" id="panel-body">
                        <ul class="nav nav-tabs">
                           <li class="active"><a href="#cat_table" data-toggle="tab" onclick="resizeWin()">Table</a></li>
                           <li><a href="#cat_bar" data-toggle="tab" onclick="resizeWin()">Bar</a></li>
                           <li><a href="#cat_pie" data-toggle="tab" onclick="resizeWin()">Pie</a></li>
                        </ul>
                        <div class="tab-content" style="height: 500px;">
                           <div id="a" class="tab-pane active" style="z-index:-1;">
                              <div class = "row">
                                 <div id="cat_table" class="col-lg-4" style="overflow: auto;height: 500px;">
                                    <table class="table table-striped" >
                                       <thead>
                                          <tr>
                                             <th>Category name</th>
                                             <th>Ratio</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for c in knn_cat_dist %}
                                          <tr>
                                             {% if c.2 %}
                                             <td><font color="red">{{ c.0 }}</font></td>
                                             <td>{{ c.1 }}</td>
                                             {% else %}
                                             <td>{{ c.0 }}</td>
                                             <td>{{ c.1 }}</td>
                                             {% endif %}
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                           <div id="cat_bar" class="tab-pane">
                              <div class = "row">
                                 {% autoescape off %}{{ barchart_cat }}{% endautoescape %}
                              </div>
                           </div>
                           <div id="cat_pie" class="tab-pane">
                              {% autoescape off %}{{ piechart_cat }}{% endautoescape %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            

               <div class="col-lg-12">
                  <h3>City Distribution</h3>
                  <div class="panel panel-default">
                     <div class="panel-body" id="panel-body">
                        <ul class="nav nav-tabs">
                           <li class="active"><a href="#city_table" data-toggle="tab" onclick="resizeWin()">Table</a></li>
                           <li><a href="#city_bar" data-toggle="tab" onclick="resizeWin()">Bar</a></li>
                           <li><a href="#city_pie" data-toggle="tab" onclick="resizeWin()">Pie</a></li>
                        </ul>
                        <div class="tab-content" style="height: 500px;">
                           <div id="a" class="tab-pane active" style="z-index:-1;">
                              <div class = "row">
                                 <div id="city_table" class="col-lg-4" style="overflow: auto;height: 500px;">
                                    <table class="table table-striped" >
                                       <thead>
                                          <tr>
                                             <th>City name</th>
                                             <th>Ratio</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for c in knn_city_dist %}
                                          <tr>
                                             {% if c.2 %}
                                             <td><font color="red">{{ c.0 }}</font></td>
                                             <td>{{ c.1 }}</td>
                                             {% else %}
                                             <td>{{ c.0 }}</td>
                                             <td>{{ c.1 }}</td>
                                             {% endif %}
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                           <div id="city_bar" class="tab-pane">
                              <div class = "row">
                                 {% autoescape off %}{{ barchart_city }}{% endautoescape %}
                              </div>
                           </div>
                           <div id="city_pie" class="tab-pane">
                              {% autoescape off %}{{ piechart_city }}{% endautoescape %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
</div>
         <!-- NETWORK VISUALIZATION-->
         <div class = 'row'>
            <h2>Network Analysis</h2>
	     <form method="GET" action="/{{ rest_info.business_id }}/" target="_blank">
 		 <label for="sel1">Select a business:</label>
  		 <select class="selectpicker" id="knn_business" name = "knn_business" multiple>
			{% for r in knn_infos %}
    		 	<option name = "knn_business" value = "{{ forloop.counter0 }}">({{ forloop.counter0 }}) {{ r.name }}</option>
			{% endfor %}
 		 </select>
                 <input type="submit" value="Submit">
	     </form> 
         </div> 
         
         {% for d in network_div %}
         <input type='button' value = "{{ forloop.counter }}" onclick = "myFunction('network_{{ forloop.counter0 }}')"/>
            {{ d.0 }} <br/>
         <div class = 'row' id = "network_{{ forloop.counter0 }}" style = 'height:500px;display:block;'>
            <div class = 'col-lg-8' >
               {% autoescape off %}{{ d.1 }}{% endautoescape %}
            </div>
            <div class = 'col-lg-4'>
	    <h4>Meta-path count</h4>
	       {% for meta_path in d.2 %}
	            <b>{{ meta_path.0 }}</b>: {{ meta_path.1 }} <br>
	       {% endfor %}
            </div>            
         </div>
         {% endfor %}
            

            
      </div>
      <!-- jQuery -->
      <script src="{% static "poi/jquery.min.js" %}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="{% static "poi/bootstrap.min.js" %}"></script>
      <!-- Metis Menu Plugin JavaScript -->
      <script src="{% static "poi/metisMenu.min.js" %}"></script>
      <!-- Morris Charts JavaScript -->
      <script src="{% static "poi/raphael.min.js" %}"></script>
      <script src="{% static "poi/morris.min.js" %}"></script>
      <script src="{% static "poi/morris-data.js" %}"></script>
      <!-- Custom Theme JavaScript -->
      <script src="{% static "poi/sb-admin-2.js" %}"></script>
      <!-- For tabs -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script>
         function myFunction(divid) {
             var x = document.getElementById(divid);
             if (x.style.display === 'none') {
         	x.style.display = 'block';
             } else {
         	x.style.display = 'none';
             }
         }
      </script>
      <script>
         function resizeWin() {
	     $(window).resizeTo($(window).width()+1, $(window).height()+1);
             $(window).resizeTo($(window).width()-1, $(window).height()-1);
             $(window).focus();
         }
      </script>

   </body>
</html>


